@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class *= "fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#impress a {
    cursor: default;
    text-decoration-line: none;
}

#impress h1 {
    font-size: 56pt;
    font-weight: bold;
    color: rgb(0, 56, 103);
}

#impress h2 {
    font-size: 36pt;
    font-weight: bold;
    color: rgb(0, 56, 103);
}

#impress h3 {
    font-size: 22pt;
}

#impress p {
    font-size: 22pt;
    line-height: 33pt;
}

#impress .step {
    width: 900px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

#impress .submaster {
    background: url('./img/logo-bottom.png') left bottom;
}

#impress ul li {
    font-size: 22pt;
    line-height: 33pt;
}

#impress li li {
    font-size: 18pt;
    line-height: 27pt;
}

#impress li li li {
    font-size: 15pt;
    line-height: 22pt;
}

#impress .system-text {
    font-family: Courier
}

footer {
    /* Taken fom powepoint file 19.05/1.41 about 13tel, or 7 % */
    height: 70px;
    width: 100%;
    background: rgb(0, 56, 103) url('./img/logo-bottom.png') no-repeat left bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 4px 4px;
}

footer p {
    text-align: center;
    color: white;
    font-size: 8pt;
}

header {
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('./img/logo-top.png') no-repeat left top;
    margin: 17px;
}

.done {
    color: green;
}

.todo {
    color: red;
}

.icon-center {
    font-size: 250pt;
    text-align: center;
}

.step:not(.active) {
    opacity: 0.3;
}

.step.hide:not(.active) {
    opacity: 0;
}

#impress .white {
    background-color: white;
}

#impress .explanation {
    font-size: 18pt;
    text-align: right;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#impress .description {
    font-size: 18pt;
    text-align: right;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/* Stolen from http://www.sub.uni-goettingen.de/style/main.css */
a {
    color: #1a3771;
}

a:link {
    cursor: pointer;
}

a:visited {
    color: #1a3771;
}

a:focus {
    color: #1a3771;
}

a:hover {
    color: #1a3771;
}

a:active {
    color: #1a3771;
}

.fallback-message {
    display: none
}
