{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Books</h1>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} by {{ book.author.firstName }} {{ book.author.lastName }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
